body {
  height: 100vh;
  padding: 16px;
}

main {
  height: 100%;
  display: grid;
  grid-template-rows: max-content auto;
  /* margin: 16px; */
  border-radius: 8px;
  background-color: #fff;
  box-shadow: inset 24px 24px 48px #d9d9d9, inset -24px -24px 48px #ffffff;
}

.header {
  /* margin: 16px; */
  border-radius: 8px;
  /* box-shadow: inset 24px 24px 48px #d9d9d9, inset -24px -24px 48px #ffffff; */
  padding: 16px;
  display: flex;
  justify-content: space-between;
}

.header__title {
  white-space: nowrap;
  display: flex;
  align-items: center;
  height: 40px;
  padding: 8px;
  padding: 0 8px;
  border-radius: 8px;
  background: #ffffff;
  box-shadow: 8px 8px 16px #d9d9d9, -8px -8px 16px #ffffff;
}

.header-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 8px 16px;
  border-radius: 8px;
  background: #ffffff;
  box-shadow: 8px 8px 16px #d9d9d9, -8px -8px 16px #ffffff;
}

.header-actions__action {
  cursor: pointer;
}

.header__close {
  cursor: pointer;
  padding: 0 12.5px;
  /* font-size: 24px; */
  border: none;
  border-radius: 8px;
  background: #ffffff;
  box-shadow: 8px 8px 16px #d9d9d9, -8px -8px 16px #ffffff;
}

.editor {
  margin: 16px;
  margin-top: 0;
  border-radius: 8px;
  background: #ffffff;
  box-shadow: 8px 8px 16px #d9d9d9, -8px -8px 16px #ffffff;
}
