body {
  height: 100vh;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  box-shadow: inset 24px 24px 48px var(--primary-gradient-color),
    inset -24px -24px 48px var(--primary-color);
}

.header {
  margin: 16px;
  /* height: 40px; */
  border-radius: 8px;
  /* box-shadow: inset 24px 24px 48px #d9d9d9, inset -24px -24px 48px #ffffff; */
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  background: var(--primary-color);
  box-shadow: 8px 8px 16px var(--primary-gradient-color),
    -8px -8px 16px var(--primary-color);
}

.header__title {
  white-space: nowrap;
  display: flex;
  align-items: center;
  height: 40px;
  font-size: 24px;
  padding: 8px;
  outline: none;
  border: 1px solid rgba(135, 135, 135, 0);
}

.header__title:focus {
  border-radius: 8px;
  border: 1px solid rgba(135, 135, 135, 0.387);
}

.header-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 8px 16px;
  border-radius: 8px;
  background: var(--primary-color);
  box-shadow: 8px 8px 16px var(--primary-gradient-color),
    -8px -8px 16px var(--primary-color);
}

.header-actions__action {
  cursor: pointer;
}

.header__close {
  cursor: pointer;
  padding: 8 12.5px;
  font-size: 24px;
  border: none;
  background: none;
  /* border-radius: 8px;
  background: #ffffff;
  box-shadow: 8px 8px 16px #d9d9d9, -8px -8px 16px #ffffff; */
}

.editor {
  margin: 0 16px 16px 16px;
  border-radius: 8px;
  background: var(--primary-color);
  box-shadow: 8px 8px 16px var(--primary-gradient-color),
    -8px -8px 16px var(--primary-color);
}
