@import url('https://fonts.googleapis.com/css2?family=Sono:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

body {
  /* font-family: 'Sono', sans-serif; */
  font-family: var(--font-family);
  line-height: 1;
}

.hidden {
  display: none;
}

/* Colors */
:root {
  --font-size: 16px;
  --primary-text-color: black;
  --secondary-text-color: black;
  --primary-color: #3d3d3d;
  --secondary-color: white;
  --tertiary-color: white;
  --accent-color: white;
  --background-color: gray;
  --font-family: 'Nunito', sans-serif;

/* Darkmode colors */
  --darkmode-primary-text-color: white;
  --darkmode-secondary-text-color: white;
  --darkmode-primary-color: #272727;
  --darkmode-secondary-color: #424242;
  --darkmode-tertiary-color: white;
  --darkmode-accent-color: white;
  --darkmode-background-color: #1d1d1d;
}

/* Darkmode css for body */

body.dark {
	background-color: var(--darkmode-background-color);
}

body.dark .sidebar {
  color: var(--darkmode-primary-text-color);
  background-color: var(--darkmode-secondary-color);
}

body.dark .sidebar li > * {
  color: var(--darkmode-primary-text-color);
}

body.dark .settings > * {
  color: var(--darkmode-primary-text-color);
}

body.dark .sidebar .sidebar-header {
  color: var(--darkmode-primary-text-color);
}

body.dark aside .notes {
  background-color: var(--darkmode-primary-color);
}

body.dark .preview {
  background-color: var(--darkmode-background-color);
}

body.dark .preview > * {
  color: var(--darkmode-primary-text-color);
}

/* body.dark For editor needs to be added! :) */