body {
  display: flex;
}

.sidebar {
  /* width: 200px; */
  height: 100%;
  background-color: black;
  padding: 16px;
}

.sidebar-header {
  display: flex;
  gap: 16px;
  align-items: center;
}

.sidebar-header__menu {
  color: white;
  font-size: 32px;
}

.sidebar-header__title {
  color: white;
  padding-right: 48px;
  font-size: 32px;
  font-weight: 700;
}

.sidebar-list {
  color: white;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.sidebar-list-item {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 24px;
  font-weight: 100;
  color: white;
  text-decoration: none;
}

.sidebar-list-item i {
  font-size: 16px;
}

.sidebar-active {
  font-weight: 700;
}
