body {
  display: flex;
}

main {
  display: flex;
}

.active {
  display: none;
}

.sidebar {
  /* width: 200px; */
  height: 100%;
  background-color: #fdfdfd;
  /* background: linear-gradient(135deg, #7fffff 0%, #f675ff 100%); */
  padding: 16px;
}

.sidebar hr {
  height: 1px;
  background-color: black;
  border: none;
  margin: 0;
  margin: 16px 0;
}

.sidebar-header {
  display: flex;
  gap: 16px;
  height: 32px;
  align-items: center;
}

.sidebar-header__menu {
  font-size: 24px;
  cursor: pointer;
}

.sidebar-header__title {
  padding-right: 40px;
  font-weight: 700;
}

.sidebar-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.sidebar-list-item {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 16px;
  color: black;
  text-decoration: none;
  transition: font-weight 0.15s;
}

.sidebar-list-item i {
  font-size: 24px;
}

.sidebar-list-item:hover {
  font-weight: 700;
}

.sidebar-active {
  font-weight: 700;
}

.notes {
  /* border-left: 1px solid black;
  border-right: 1px solid black; */
  overflow: hidden;
  height: 100vh;
  background-color: #000000;
  display: grid;
  grid-template-columns: minmax(auto, 360px);
  grid-template-rows: min-content auto;
  padding: 16px 16px 0 16px;
}

.notes-tags {
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.notes-tag {
  background-color: white;
  padding: 4px 8px;
  border-radius: 4px;
}

.notes-tag-dark {
  color: white;
  background-color: rgb(0, 0, 0);
}

.notes-list {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;
  padding-bottom: 14px;
  overflow-y: scroll;
  scrollbar-width: none;
}

.note {
  background-color: white;
  padding: 8px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.note-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
  gap: 8px;
  margin-bottom: 4px;
}

.notes-header__search {
  /* border: 1px solid black; */
  padding: 0 8px;
  width: 100%;
  height: 32px;
  border: none;
  border-radius: 4px;
}

.note-text {
  display: flex;
}

.note__title {
  margin-bottom: 4px;
  word-wrap: break-word;
  word-break: break-all;
}

.note-actions {
  /* display: flex;
  gap: 16px;
  font-size: 18px; */
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 8px;
  border-radius: 4px;
}

.note-actions i {
  cursor: pointer;
}

.note-tags {
  margin-top: 8px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
