* {
	box-sizing: border-box;
}

body {
  display: flex;
  background-color: rgb(255, 255, 255);
}

main {
  width: 100vw;
  display: grid;
  grid-template-columns: minmax(auto, max-content) auto;
}

main h1 {
  font-size: 56px;
}

main h2 {
  font-size: 36px;
}

main > * {
  font-size: 22px;
}

.aside-container {
  display: flex;
}

.settings > * {
    padding: 1.4rem;
}

/* DarkMode Switch */

.dmSwitch {
  /* display: flex;
	align-items: center;
	justify-content: center; */
  /* position: absolute; */
	margin: 0 0 0 1rem;
	transition: background 0.2s linear;
}



body.dark {
	background: #1d1d1d;
}

body.dark > * {
  color: white;
}

body.dark .sidebar {
  color: white;
  background-color: #272727;
}

body.dark .sidebar li > * {
  color: white;
}




/* body.dark {
	background: #1d1d1d;
}

body.dark > * {
  color: white;
}

body.dark .sidebar {
  color: white;
  background: #1d1d1d;
} */

.checkbox {
	opacity: 0;
	position: absolute;
}

.label {
	background-color: #111;
	/* border-radius: 50px; */
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 26px;
	width: 62px;
	transform: scale(1.5);
}

.label .circle {
	background-color: rgb(87, 87, 87);
	/* border-radius: 50%; */
	position: absolute;
	top: 1px;
	left: 3px;
	height: 24px;
	width: 24px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.checkbox:checked + .label .circle {
	transform: translateX(32px);
}


.fa-moon {
	color: #2151aa;
}

.fa-sun {
	color: #f39c12;
}



/* .settings {
    color: black;
} */