* {
	box-sizing: border-box;
}

body {
  display: flex;
  background-color: var(--background-color);
}

main {
  width: 100vw;
  display: grid;
  grid-template-columns: minmax(auto, max-content) auto;
}

main h1 {
  font-size: 56px;
}

main h2 {
  font-size: 36px;
}

main > * {
  font-size: 22px;
}

.aside-container {
  display: flex;
}

.settings > * {
    padding: 1.2rem;
    color: var(--primary-text-color);
}

.settings .otherSettings div {
  display: flex;
  flex-direction: column;
}

/* Darkmode Switch */

.dmSwitch {
	margin: 0 0 0 1rem;
	transition: background 0.2s linear;
}

.checkbox {
	opacity: 0;
	position: absolute;
}

.label {
	background-color: #111;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 26px;
	width: 62px;
	transform: scale(1.5);
}

.label .circle {
	background-color: rgb(87, 87, 87);
	/* border-radius: 50%; */
	position: absolute;
	top: 1px;
	left: 3px;
	height: 24px;
	width: 24px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.checkbox:checked + .label .circle {
	transform: translateX(32px);
}

.fa-moon {
	color: #2151aa;
}

.fa-sun {
	color: #f39c12;
}

/* Customization */

.colorPickers {
  display: flex;
  flex-direction: column;
}

.colorPickers label {
  margin: 1.4rem 0 .4rem 0;
}

.otherSettings {
  display: flex;
  flex-direction: column;
}

.colorPickers input {
  border: none;
  background: none;
  width: 120px;
  height: 40px;
}

/* MODAL CSS */

.contactModal > *{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.buttonModal{
    background-color: black;
    color: white;
    border: none;
    margin-left: 1rem;
    font-size: 18px;
    padding: .4em 1em;
}
.buttonModal:hover{
    background:darkgray;
}
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6)
}
.modal-content{
    background-color: gray;
    margin: 25% 25%;
    padding: 2em;
    width: 50%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.3), 0 7px 20px 0 rgba(0,0,0,0.17);
    animation-name: openmodal;
    animation-duration: .6s;
    text-align: center;
}
.modalBtns {
	display: flex;
	flex-direction: column;
}
.modal-content a{
    color: blue;
}
.modal-content a:hover{
    color: green;
}
.closeBtn{
    color: black;
    float:right;
    margin: -40px -25px 0 0;
    font-size: 33px;
}
.closeBtn:hover, .closeBtn:focus{
    cursor:pointer;
    color: red;
}
@keyframes openmodal{
    from{opacity: 0}
    to{opacity: 1}
}