body {
  /* background: linear-gradient(135deg, #7fffff 0%, #f675ff 100%); */
  background-color: black;
  display: grid;
  place-items: center;
}

main {
  margin-bottom: 56px;
  display: grid;
  grid-template-columns: auto minmax(auto, 1200px) auto;
  gap: 8px;
}

.tutorial-header {
  grid-column: 2/3;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-radius: 8px;
  /* color: rgb(0, 0, 0); */
  color: white;
}

.tutorial-header__title {
  font-weight: 500;
  font-size: 24px;
}

.tutorial-header__text {
  opacity: 80%;
}

.tutorial-content {
  grid-column: 2/3;
  width: 100%;
  height: 480px;
  border-radius: 4px;
  background-color: white;
  display: flex;
  align-items: flex-end;
}

.tutorial-content-navigation {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 8px;
  padding: 8px 8px;
}

.tutorial-content-navigation__back,
.tutorial-content-navigation__continue {
  cursor: pointer;
  background: none;
  border: none;
  border-radius: 4px;
  padding: 12px 16px;
  text-transform: uppercase;
}

.tutorial-content-navigation__continue {
  /* background-color: #7fffff; */
  background-color: black;
  color: white;
}
